@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
    ViewData["Header"] = "About Me";
}


<h1>My name is Cade Jorgensen!</h1>
<img src="img/IMG_0116.jpeg" style="width:400px;height:500px;" />
<p>I enjoy watching sports with my friends and family.</p>
<br />
<p>In IS413, I want to become experienced in programming in C# and ASP.NET.</p>
<br />
<p>My top 3 jobs: </p>
<ul>
    <li>Cybersecurity Analyst</li>
    <li>Software Developer</li>
    <li>Technology Consultant</li>
</ul>
<br />
